A book about applying topics from mathematics, physics, and generative algorithms to computational systems. With Processing!

<script>
  var defaultPrice = 11.00;
  function dollarToSliderPos (dollar) { return dollar * 2; }

  function sliderPosToDollar (sliderPos) { return sliderPos * .5; }

  function cleanDollarInput (dollarInput) {
    noDollar = raw.replace('$','');
    dollarFloat = parseFloat(noDollar).toFixed(2) || defaultPrice;
    if(dollarFloat < 0) {
      return defaultPrice.toFixed(2);
    } else {
      return dollarFloat;
    }
  }

  function updateAmountFromSlider (sliderPos){
    amount = document.getElementById('amount');
    displayAmount = document.getElementById('display-amount');

    sliderAmount = sliderPosToDollar(sliderPos).toFixed(2)

    displayAmount.setAttribute('value',"$"+sliderAmount);
    amount.setAttribute('value',sliderAmount);
  }

  function updateSliderFromAmount (newAmount) {
    $('#amount').val(newAmount);
    $('#slider').slider('value',dollarToSliderPos(newAmount));
  }

  function updatePercentFromInput (percentString) {
    percent = parseInt(percentString.replace('%','')) || 5;
    if(percent < 0) {
      percent = 0;
    } else if (percent > 100) {
      percent = 100;
    }
    $('#percent-slider').slider('value',percent);
    $('#percent').val(percent);
    $('#display-percent').val(percent+'%');
  }

  function updatePercentFromSlider (sliderPos) {
    percentInput = document.getElementById('percent');
    percentInput.setAttribute('value', sliderPos);
    percentDisplay = document.getElementById('display-percent');
    percentDisplay.setAttribute('value', sliderPos + '%');
  }

  $(function(){
    $('#display-percent').blur(function(){
      raw = $(this).val() || 5;
      updatePercentFromInput(raw);
    });

    $('#display-percent').change(function(){
      raw = $(this).val() || 5;
      updatePercentFromInput(raw);
    });

    $('#display-amount').blur(function(){
      raw = $(this).val() || defaultPrice;
      newDollar = cleanDollarInput(raw);
      updateSliderFromAmount(newDollar);
      $(this).val('$'+newDollar);
    });

    $('#display-amount').change(function(event){
      raw = $(this).val() || defaultPrice+'';
      newDollar = cleanDollarInput(raw);
      updateSliderFromAmount(newDollar);
      $(this).val('$'+newDollar);
    });

    $('#percent-slider').slider({
      value: 5,
      animate: true,
      slide:  function(e,ui) { updatePercentFromSlider(ui.value) },
      stop:   function(e,ui) { updatePercentFromSlider(ui.value) }
    });

    $('#slider').slider({
      value: dollarToSliderPos(defaultPrice),
      animate: true,
      create: function() {updateAmountFromSlider(dollarToSliderPos(defaultPrice))},
      slide: function(e,ui) {updateAmountFromSlider(ui.value)},
      stop: function(e,ui) {updateAmountFromSlider(ui.value)}
    });
  });
</script>

<div id="purchase-options">
  <div id="purchase-pdf">
    <h3>Buy <strong>The Nature of Code</strong> PDF</h3>

    <p>Download the entire book directly from the author.</p>

    <ul class="description">
      <li>DRM-free</li>
      <li>Delivered by email, no login necessary</li>
      <li>Receive book updates for free</li>
    </ul>

    <form method="POST" action="/order" id="slider-form">
      <p>Name Your Price:</p>
      <fieldset>
      <div class="slider-holder">
        <div id="slider"></div>
      </div>
      <input id="amount" type="hidden" name="amount" value="11.00">
      <input type="text" id="display-amount" value="$11.00">
      </fieldset>

      <p>Donate a </p>
      <fieldset>
        <div class="slider-holder">
          <div id="percent-slider"></div>
        </div>
        <input type="hidden" id="percent" name="percent" value="5">
        <input type="text" id="display-percent" name="percent" value="5%">
      </fieldset>
      <input type="submit" id="buy-now" value="Buy Now">
    </form>
  </div>

  <div id="purchase-print">
    <h3>Also available in print!</h3>
    <img src="http://farm9.staticflickr.com/8448/7749029626_04c08b4bed.jpg" style="max-width:100%;">
    <a class="block-link" href="#">Buy from Amazon.com</a>
  </div>
</div>

<div id="read">
  <h3>Read the Entire Book Online for Free</h3>

  <p>The complete book is available as HTML with interactive Processing.js examples.</p>

  <a class="block-link" href="/book">Read Now</a>

  <p></p>
</div>