A book about applying topics from mathematics, physics, and generative algorithms to computational systems. With Processing!

<script>
  $(function(){
    function updateAmount (sliderPos){
      amount = document.getElementById('amount');
      displayAmount = document.getElementById('display-amount');

      sliderAmount = (sliderPos * .5).toFixed(2)

      displayAmount.innerHTML = "$"+sliderAmount;
      amount.setAttribute('value',sliderAmount);
    }
    $('#slider').slider({
      value: 22,
      create: function(event,ui) {updateAmount(22)},
      slide: function(event,ui) {updateAmount(ui.value)},
      stop: function(event,ui) {updateAmount(ui.value)}
    });
  });
</script>

<div id="purchase-options">
  <div id="purchase-pdf">
    <h3>Buy <strong>The Nature of Code</strong> PDF</h3>

    <p>Download the entire book directly from the author.</p>

    <ul class="description">
      <li>DRM-free</li>
      <li>Delivered by email, no login necessary</li>
      <li>Receive book updates for free</li>
    </ul>

    <p>Drag the slider to name your price:</p>
    <form method="POST" action="/order" id="slider-form">
      <input id="amount" type="hidden" name="amount" value="10.00">
      <fieldset>
      <div id="slider-holder">
        <div id="slider"></div>
      </div>

      <div id="display-amount">$<div id="dollar" contenteditable style="">9.00</div></div>
      </fieldset>
      <input type="submit" id="buy-now" value="Buy Now">
    </form>
  </div>

  <div id="purchase-print">
    <h3>Also available in print!</h3>
    <img src="http://farm9.staticflickr.com/8448/7749029626_04c08b4bed.jpg" style="max-width:100%;">
    <a class="block-link" href="#">Buy from Amazon.com</a>
  </div>
</div>

<div id="read">
  <h3>Read the Entire Book Online for Free</h3>

  <p>The complete book is available as HTML with interactive Processing.js examples.</p>

  <a class="block-link" href="/book">Read Now</a>

  <p></p>
</div>