<form id="new-order" method="post" action="/purchase">
  <h3>
    The Nature of Code PDF
    <div id="display-amount"><strong>$<%= "%5.2f" % [@amount] %></strong></div>
  </h3>

  <div class="field">
    <label for="order-email">Email Address</label>
    <input type="text" name="order[email]" id="order-email" value='sklise@gmail.com'>
  </div>

  <div class="field">
    <label for="order-first-name">First Name</label>
    <input type="text" name="order[first_name]" id="order-first-name">
  </div>

  <div class="field">
    <label for="order-last-name">Last Name</label>
    <input type="text" name="order[last_name]" id="order-last-name">
  </div>

  <button type="submit" class="submit-button">Complete Purchase</button>
</form>

<div id="order-info">
  <p>Upon successful payment you will receive an email with a link to download your PDF.</p>

  <p>Payments handled securely with <a href="http://stripe.com">Stripe</a>.</p>
</div>