<h3>Thanks for buying <strong>The Nature of Code</strong>!</h3>

<p><strong>You'll receive an email shortly with a link to download the PDF.</strong></p>

<p>The e-mail will be addressed from: notifications@fetchapp.com.</p>

<p>If you do not receive the e-mail check your spam folder or failing that contact me: daniel@shiffman.net.</p>


 <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://natureofcode.com" data-via="shiffman" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 


<p>If you like this book, please consider supporting it buy purchasing the print edition or writing a review:</p>

<div class="image-container two-col" >
  <a href="http://www.amazon.com/gp/product/0985930802/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0985930802&linkCode=as2&tag=natureofcode-20">
  <img style="width:50%" src="http://natureofcode.com/imgs/noc_print.jpg" alt="Nature of Code Image" /></a>
<a class="block-link" href = "http://www.amazon.com/gp/product/0985930802/ref=as_li_tf_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0985930802&linkCode=as2&tag=natureofcode-20">Buy from Amazon.com</a> </p>
  <p class="caption"><a class="block-link" href="https://www.createspace.com/4068419">CreateSpace</a>

<p></p>

