<h3>Thanks for buying <strong>The Nature of Code</strong>!</h3>

<p>You'll receive an email shortly with a link to download the PDF.</p>

<p>While you wait why not start reading the book in your browser!</p>

<a class="block-link" href="/book">Read Now</a>