<h3>Thanks for buying <strong>The Nature of Code</strong>!</h3>

<p><strong>You'll receive an email shortly with a link to download the PDF.</strong></p>

<p>The e-mail will be addressed from: notifications@fetchapp.com.</p>

<p>If you do not receive the e-mail check your spam folder or failing that contact me: daniel@shiffman.net.</p>

<p></p>

 <p class="caveat">Note the book is still technically a draft.  I am working through another round of edits as well as preparing the index.  If you notice anything wrong, please let me know via <a href="https://github.com/shiffman/The-Nature-of-Code/issues">github</a>.</p>