<h3>Thanks for buying <strong>The Nature of Code</strong>!</h3>

<p><strong>You'll receive an email shortly with a link to download the PDF.</strong></p>

<p>The e-mail will be addressed from: notifications@fetchapp.com.</p>

<p>If you do not receive the e-mail check your spam folder or failing that contact me: daniel@shiffman.net.</p>

<p></p>

 <p class="caveat">Note the book is still technically a draft.  I am working through another round of edits as well as preparing the index.  If you notice anything wrong, please let me know via <a href="https://github.com/shiffman/The-Nature-of-Code/issues">github</a>.</p>

 <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://natureofcode.com" data-via="shiffman" data-size="large" data-hashtags="natureofcode">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>