<h3>Thanks for buying <strong>The Nature of Code</strong>!</h3>

<p>You'll receive an email shortly with a link to download the PDF.  </p>

<p>The e-mail will be addressed from Daniel Shiffman notifications@fetchapp.com.</p>

<p>If you do not receive the e-mail, check your spam folder or contact me: daniel@shiffman.net.</p>

<p></p>

 <p class="caveat">(If you've stumbled your way here, you are viewing a "preview" of my book purchasing site. You can buy an advance draft of the book here and you will receive updates as I make revisions and publish the finished version.)</a>
