<!DOCTYPE html>
<html>
<head>
  <% include ./partials/head %>
</head>
<body>

<% include ./partials/header %>

<div id="middle">
  <div id="content">
    <h3>Sorry, something has gone wrong in the payment process</h3>

    <p>Please <a href="/">try again</a> or contact me: <span class="eml">daniel at shiffman dot net</span>.</p>
  </div>
</div>
<% include ./partials/footer %>
</body>
</html>