<h3>Sorry, something has gone wrong in the payment process</h3>

<p>Please <a href="/">try again</a> or contact me: <span class="eml">daniel at shiffman dot net</span>.</p>

<p></p>

 <p class="caveat">(If you've stumbled your way here, you are viewing a "preview" of my book purchasing site. You can buy an advance draft of the book here and you will receive updates as I make revisions and publish the finished version.)</a>
