<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="home">
  <ul class="small-show">
    <li><a class="close-menu">CLOSE MENU</a></li>
    <span class="line-charm first"></span>
  </ul>
  <div class="logo-set-home">
    <a href="http://shiffman.net"><h3>DANIEL SHIFFMAN</h3></a>
    <a href="http://learningprocessing.com"><h3>LEARNING PROCESSING</h3></a>
    <a href="/" class="active"><h3>NATURE OF CODE</h3></a>
  </div>
  <span class="line-charm"></span>
  <ul class="nav-links">
    <li><a href="/videos.html">VIDEOS</a></li>
    <li><a href="/resources.html">RESOURCES</a></li>
  </ul>
</nav>

<div class="logo">
    <span class="nav-btn small-show"><img src="/images/nav-btn.svg"/></span>
</div>

<span class="mobile-quick-links">GET THE BOOK</span>